pkgbase = initramfs-asuskbdlight
	pkgdesc = initramfs hook that turns Asus laptop keyboard backlight on
	pkgver = 1.0
	pkgrel = 3
	arch = any
	license = MIT
	depends = mkinitcpio
	source = asuskbdlight-hook
	source = asuskbdlight-install
	source = README.md
	sha256sums = fbfcc052cb3d0877cb8644d5dd202cad974484b401209f8722d9b92c0fb61b25
	sha256sums = 362aa638a104b125f0d5bc5411958f4c00ddf104b6de8ce7f7eb18e1cbe3c17b
	sha256sums = 9f84df0f294329413cb5c6f33f28b9336338d42c3aa8763dc96dcd8e4570d579

pkgname = initramfs-asuskbdlight
